@charset "UTF-8";
@font-face {
  font-family: 'Ave';
  src: url("/assets/fonts/AvenirLTStd-Roman.eot");
  src: local("\263A"), url("/assets/fonts/AvenirLTStd-Roman.woff") format("woff"), url("/assets/fonts/AvenirLTStd-Roman.ttf") format("truetype"), url("/assets/fonts/AvenirLTStd-Roman.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ave';
  src: url("/assets/fonts/AvenirLTStd-Black.eot");
  src: local("\263A"), url("/assets/fonts/AvenirLTStd-Black.woff") format("woff"), url("/assets/fonts/AvenirLTStd-Black.ttf") format("truetype"), url("/assets/fonts/AvenirLTStd-Black.svg") format("svg");
  font-weight: bold;
  font-style: normal; }

@-webkit-keyframes loading {
  from {
    opacity: 0.3; }
  to {
    opacity: 1.0; } }

@keyframes loading {
  from {
    opacity: 0.3; }
  to {
    opacity: 1.0; } }

* {
  box-sizing: border-box;
  letter-spacing: 0.005em; }

body {
  background: #000;
  font-size: 1.5em;
  font-family: 'Ave', 'Helvetica', Arial, sans-serif;
  margin: 0; }

canvas {
  display: block;
  pointer-events: all;
  width: 100%;
  height: 100%;
  transition: 0.01s height linear 0.05s; }

section {
  width: 100vw;
  height: 100vh;
  z-index: 5;
  position: relative;
  color: #ffe0e0;
  display: flex;
  justify-content: center; }
  section .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    flex: 2 0 50%;
    z-index: 6; }
    @media (min-width: 768px) {
      section .container {
        flex: 0.5 0.5 100%;
        max-width: 1260px; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      section .container {
        padding-right: 20px;
        padding-left: 20px; } }
    @media (min-width: 1025px) {
      section .container {
        padding-right: 29px;
        padding-left: 29px; } }
    @media (max-width: 767px) {
      section .container {
        width: 100%; } }
    section .container p,
    section .container a:not(.btn) {
      font-size: 0.75em;
      line-height: 1.42em;
      padding: .35em 0; }
  section .center {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 767px) {
      section .center {
        display: block; } }
  section .col {
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    flex: 2 0 50%; }
    @media (min-width: 768px) {
      section .col {
        flex: 0.5 0.5 30%;
        max-width: 378px; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      section .col {
        padding-right: 20px;
        padding-left: 20px; } }
    @media (min-width: 1025px) {
      section .col {
        padding-right: 29px;
        padding-left: 29px; } }
    section .col p,
    section .col h3 {
      pointer-events: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
    section .col p {
      margin-bottom: 1.3333em; }
      section .col p.mobile {
        display: none; }
      @media (max-width: 767px) {
        section .col p.desktop {
          display: none; }
        section .col p.mobile {
          display: block; } }
    section .col #mc_embed_signup_scroll {
      display: flex;
      align-items: flex-end; }
      section .col #mc_embed_signup_scroll input[type="email"] {
        width: 100%; }
    section .col .mc-field-group {
      width: calc(50% - 10px);
      margin-right: 20px; }
      section .col .mc-field-group + .clear {
        width: calc(50% - 10px); }
    section .col.sliders {
      padding: 0 20px;
      display: flex;
      flex-direction: column; }
      section .col.sliders .group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column; }
      section .col.sliders .controls {
        display: none; }
      section .col.sliders a.btn {
        margin: 20px 0 0;
        align-self: flex-start; }
    section .col.mobile-sliders {
      display: none; }
  @media (max-width: 767px) {
    section {
      height: auto;
      min-height: 100vh; }
      section .container {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 33vh; }
        section .container:last-of-type {
          margin-bottom: 0; }
      section .col,
      section .mobile-col {
        flex: 0 0 100%;
        text-align: left;
        opacity: 1;
        -webkit-transform: none;
                transform: none; }
        section .col:nth-child(2),
        section .mobile-col:nth-child(2) {
          text-align: left; }
        section .col.sliders,
        section .mobile-col.sliders {
          display: none; }
        section .col.mobile-sliders,
        section .mobile-col.mobile-sliders {
          text-align: center;
          display: block;
          position: fixed;
          z-index: 25000;
          bottom: 10px;
          left: 0;
          width: 100%;
          opacity: 0; }
          section .col.mobile-sliders .group,
          section .mobile-col.mobile-sliders .group {
            width: calc(100% + 40px);
            margin-left: -20px;
            height: 100px;
            display: flex;
            justify-content: space-between; }
          section .col.mobile-sliders .buy-btn,
          section .mobile-col.mobile-sliders .buy-btn {
            margin-top: 20px; } }

footer {
  position: fixed;
  bottom: 0;
  padding: 58px;
  width: 100%;
  z-index: 20; }
  footer li {
    position: absolute;
    right: 58px;
    bottom: 58px;
    display: block; }
    footer li:first-child {
      left: 58px; }
  footer svg {
    display: block;
    position: absolute;
    background-size: cover;
    width: 50px;
    height: 40px;
    position: absolute;
    left: 50%;
    bottom: 30px;
    margin-left: -25px; }
  @media (max-width: 1024px) {
    footer svg {
      bottom: -10px; } }
  @media (max-width: 767px) {
    footer {
      padding: 20px;
      bottom: 40px; }
      footer nav {
        display: flex;
        flex-direction: column;
        align-items: center; }
      footer li {
        position: relative;
        left: 0;
        bottom: 0; }
        footer li:first-child {
          left: 0;
          margin-bottom: 20px; }
        footer li:nth-child(2) {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%; }
          footer li:nth-child(2) > * {
            width: calc(50% - 10px); }
          footer li:nth-child(2) input[type="email"] {
            margin-right: 20px; }
      footer svg {
        bottom: -52px; } }

.loader-overlay {
  background: #000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0;
  z-index: 20;
  transition: 1s opacity cubic-bezier(0.105, 0.84, 0.025, 1); }

.loading .loader-overlay {
  opacity: 1; }

.loading h1 {
  -webkit-animation-name: loading;
          animation-name: loading;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none; }

section .container.shop {
  top: 0;
  position: absolute;
  left: auto;
  right: auto;
  margin-right: auto;
  margin-left: auto;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  display: none; }
  section .container.shop .preview {
    position: relative; }
    section .container.shop .preview img {
      width: 100%;
      height: auto; }
  section .container.shop .heart-preview {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 40%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 50px; }
  section .container.shop.visible {
    transition: 0.5s -webkit-transform cubic-bezier(0.105, 0.84, 0.025, 1) 0.1s;
    transition: 0.5s transform cubic-bezier(0.105, 0.84, 0.025, 1) 0.1s;
    transition: 0.5s transform cubic-bezier(0.105, 0.84, 0.025, 1) 0.1s, 0.5s -webkit-transform cubic-bezier(0.105, 0.84, 0.025, 1) 0.1s;
    visibility: visible;
    display: flex; }
  @media (max-width: 767px) {
    section .container.shop {
      display: none; } }

section#visit .col:nth-of-type(2) h3 {
  margin-bottom: 0; }

section#visit .col:nth-of-type(2) p {
  margin-top: 0.3333em; }

section#merchandise {
  overflow-y: hidden; }
  @media (max-width: 1024px) {
    section#merchandise {
      touch-action: pan-y; } }
  section#merchandise > .container:first-of-type,
  section#merchandise > .container:nth-of-type(2) {
    transition: 0.5s -webkit-transform cubic-bezier(0.105, 0.84, 0.025, 1);
    transition: 0.5s transform cubic-bezier(0.105, 0.84, 0.025, 1);
    transition: 0.5s transform cubic-bezier(0.105, 0.84, 0.025, 1), 0.5s -webkit-transform cubic-bezier(0.105, 0.84, 0.025, 1);
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }
  section#merchandise.buying > .mobile-sliders,
  section#merchandise.buying > .container:nth-of-type(2) {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw); }
  section#merchandise.buying .container.shop.visible {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  section#merchandise .heart-preview img {
    visibility: hidden; }
  @media (max-width: 767px) {
    section#merchandise {
      flex-direction: column;
      justify-content: flex-start; }
      section#merchandise .col:nth-child(2) {
        margin-bottom: 200vh; }
      section#merchandise .container {
        margin-bottom: 0; }
      section#merchandise .block {
        flex: 0 0 calc(50% - 10px);
        margin-left: 20px; }
        section#merchandise .block:first-of-type {
          margin-left: 0; }
        section#merchandise .block .custom-select {
          margin-bottom: 0; }
        section#merchandise .block h3 {
          font-size: 0.5em; }
      section#merchandise .step_1 {
        display: flex;
        flex-wrap: wrap;
        order: 1;
        flex-direction: row; }
        section#merchandise .step_1 > a,
        section#merchandise .step_1 > h3 {
          flex: 0 0 100%;
          text-align: left; }
        section#merchandise .step_1 > h3 {
          font-size: 0.5em;
          margin: 20px 0; }
          section#merchandise .step_1 > h3:first-of-type {
            margin: 0.25em 0;
            font-size: 0.75em; }
      section#merchandise .preview.col {
        order: 0;
        -webkit-transform: scale(0.7);
                transform: scale(0.7);
        margin-bottom: 0;
        top: -80px;
        height: 0; } }

#story {
  margin-top: 100vh; }
  @media (max-width: 767px) {
    #story {
      margin-top: 160vh; } }

#contact {
  height: 100vh;
  z-index: 21; }
  #contact .block:not(:first-of-type) {
    margin-top: 58px; }
  #contact a {
    pointer-events: all;
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text; }

small,
.footnote {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 20px;
  font-size: 0.65em;
  justify-content: space-between;
  z-index: 21;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  small a,
  .footnote a {
    font-size: 1em !important; }

@media (max-width: 767px) {
  small {
    font-size: 0.5em; } }

#heart {
  position: fixed;
  top: 0;
  height: 100%; }

.dg.ac {
  z-index: 10 !important; }

#colorBar {
  width: 1px;
  height: 809px;
  position: fixed;
  z-index: -1;
  top: 0;
  left: -1px; }

form #mc_embed_signup_scroll .clear,
form #mc_embed_signup_scroll .mc-field-group {
  display: inline-block; }

form #mc_embed_signup_scroll #mce-responses {
  position: absolute; }

@media (max-width: 767px) {
  form {
    width: 100% !important; }
    form #mc_embed_signup_scroll {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      form #mc_embed_signup_scroll .clear,
      form #mc_embed_signup_scroll .mc-field-group {
        flex: 0 0 calc(50% - 10px); }
        form #mc_embed_signup_scroll .clear input,
        form #mc_embed_signup_scroll .clear .btn,
        form #mc_embed_signup_scroll .mc-field-group input,
        form #mc_embed_signup_scroll .mc-field-group .btn {
          width: 100%; }
      form #mc_embed_signup_scroll #mce-responses {
        position: absolute; } }

@media (max-width: 767px) {
  form.desktop {
    display: none; } }

.mobile-col {
  display: none; }
  @media (max-width: 767px) {
    .mobile-col {
      display: block;
      align-self: normal;
      padding: 0 10px; } }

@-webkit-keyframes loader_1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 40px);
            transform: translate(-50%, 40px); }
  50% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -40px);
            transform: translate(-50%, -40px); } }

@keyframes loader_1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 40px);
            transform: translate(-50%, 40px); }
  50% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -40px);
            transform: translate(-50%, -40px); } }

@-webkit-keyframes loader_2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 40px);
            transform: translate(-50%, 40px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

@keyframes loader_2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 40px);
            transform: translate(-50%, 40px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

@-webkit-keyframes main_load {
  0% {
    background-color: black; }
  100% {
    background-color: rgba(0, 0, 0, 0.55); } }

@keyframes main_load {
  0% {
    background-color: black; }
  100% {
    background-color: rgba(0, 0, 0, 0.55); } }

@-webkit-keyframes ellipsis {
  0% {
    content: ''; }
  33% {
    content: '.'; }
  66% {
    content: '..'; }
  100% {
    content: '...'; } }

@keyframes ellipsis {
  0% {
    content: ''; }
  33% {
    content: '.'; }
  66% {
    content: '..'; }
  100% {
    content: '...'; } }

.print-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 25000;
  -webkit-animation: main_load 5s ease-out 1s both;
          animation: main_load 5s ease-out 1s both;
  color: #ffe0e0; }
  .print-loader .frame {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.85em;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    -webkit-animation: loader_1 6s cubic-bezier(0.105, 0.84, 0.025, 1) 1 both;
            animation: loader_1 6s cubic-bezier(0.105, 0.84, 0.025, 1) 1 both; }
    .print-loader .frame.frame_2 {
      -webkit-animation: loader_1 18s cubic-bezier(0.105, 0.84, 0.025, 1) 5s 1 both;
              animation: loader_1 18s cubic-bezier(0.105, 0.84, 0.025, 1) 5s 1 both; }
      .print-loader .frame.frame_2:after {
        content: '.';
        display: inline-block;
        position: absolute;
        -webkit-animation: 2s ellipsis steps(3) infinite;
                animation: 2s ellipsis steps(3) infinite; }
    .print-loader .frame.frame_3 {
      -webkit-animation: loader_2 2.5s cubic-bezier(0.105, 0.84, 0.025, 1) 18s 1 backwards;
              animation: loader_2 2.5s cubic-bezier(0.105, 0.84, 0.025, 1) 18s 1 backwards; }
      .print-loader .frame.frame_3:after {
        content: '.';
        display: inline-block;
        position: absolute;
        -webkit-animation: 2s ellipsis steps(3) infinite;
                animation: 2s ellipsis steps(3) infinite; }
    @media (max-width: 767px) {
      .print-loader .frame {
        font-size: 0.75em;
        white-space: normal;
        line-height: 1.4em; } }
  .print-loader.error .frame::first-line {
    color: #f00; }

.faq.close {
  position: fixed;
  right: 60px;
  top: 50px;
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
  z-index: 121; }
  .faq.close:hover svg g {
    stroke: #f00; }
  .faq.close.open {
    -webkit-transform: translateY(0);
            transform: translateY(0); }

@media (max-width: 767px) {
  .faq {
    overflow-y: auto;
    height: 100vh; }
    .faq.close {
      top: 20px;
      right: 0; } }

.privacy-policy {
  will-change: auto;
  position: fixed;
  z-index: 120;
  background: #000;
  -webkit-transform: translateY(110%);
          transform: translateY(110%);
  top: 0;
  left: 0;
  transition: 0.35s -webkit-transform cubic-bezier(0.105, 0.84, 0.025, 1);
  transition: 0.35s transform cubic-bezier(0.105, 0.84, 0.025, 1);
  transition: 0.35s transform cubic-bezier(0.105, 0.84, 0.025, 1), 0.35s -webkit-transform cubic-bezier(0.105, 0.84, 0.025, 1);
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  padding-right: 58px;
  padding-left: 58px; }
  @media (max-width: 767px) {
    .privacy-policy {
      padding-right: 20px;
      padding-left: 20px;
      height: 100vh; } }
  .privacy-policy h3 {
    text-align: center;
    font-size: 1.25em; }
  .privacy-policy h4,
  .privacy-policy p {
    font-size: 0.75em; }
  .privacy-policy p {
    margin-bottom: 50px;
    line-height: 1.35em; }
    .privacy-policy p a {
      display: inline; }
      .privacy-policy p a:before {
        content: none; }
  .privacy-policy .note {
    margin: 80px 0; }
    .privacy-policy .note h3 {
      font-size: 0.75em; }
  .privacy-policy .showclix h3 {
    font-size: 0.75em; }
  .privacy-policy.open {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .privacy-policy .text {
    max-width: 600px; }

section .col p.times {
  font-size: 0.65em; }

body #cookie-bar {
  background: #000 !important;
  color: #ffe0e0 !important;
  text-align: center !important;
  padding: 0.66666em; }
  body #cookie-bar p,
  body #cookie-bar a {
    font-family: 'Ave', sans-serif !important;
    float: none;
    color: #ffe0e0; }
    body #cookie-bar p:before,
    body #cookie-bar a:before {
      content: none; }
  body #cookie-bar a:hover {
    color: #f00; }
  body #cookie-bar #cookie-bar-button {
    background: url(/assets/imgs/x-icon.svg);
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain;
    position: absolute;
    right: 10px;
    top: 10px;
    margin: 0;
    text-indent: -1000px; }

h1 {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 50;
  width: 65%;
  margin: 0;
  text-align: center;
  pointer-events: none;
  -webkit-animation-play-state: paused;
          animation-play-state: paused; }
  h1 a {
    display: block;
    width: 30%;
    height: 100%;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    pointer-events: all; }
    h1 a:before {
      content: none; }
  h1 img {
    max-height: 100%;
    max-width: 100%; }
  @media (max-width: 767px) {
    h1 {
      width: 80%; } }
  h1:hover {
    cursor: pointer; }

h3 {
  pointer-events: none;
  font-size: 0.8em;
  letter-spacing: 0.08em;
  text-transform: uppercase; }

@-webkit-keyframes arrow {
  from {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes arrow {
  from {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

a {
  text-decoration: none;
  color: #ffe0e0;
  transition: all .2s ease;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: inline-block; }
  a:before {
    content: '';
    display: block;
    height: 1px;
    background: #f00;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    transition: 0.2s -webkit-transform ease-in-out;
    transition: 0.2s transform ease-in-out;
    transition: 0.2s transform ease-in-out, 0.2s -webkit-transform ease-in-out; }
  a:not(.btn):hover {
    text-decoration: none;
    color: #f00; }
    a:not(.btn):hover:before {
      -webkit-transform: translateX(0);
              transform: translateX(0); }

.btn {
  font-weight: bold;
  display: inline-block;
  padding: 1.1em 1.75em;
  font-size: 0.7083333333em;
  border: 1px solid #ffe0e0;
  text-transform: uppercase;
  background: transparent;
  color: #ffe0e0;
  letter-spacing: 0.05em; }
  .btn:hover {
    cursor: pointer;
    color: #f00;
    border-color: #f00; }
  @media (max-width: 767px) {
    .btn {
      font-size: 0.5312499998em; } }

button,
input {
  font-family: 'Ave';
  line-height: 1;
  font-weight: bold;
  transition: all .2s ease;
  border-radius: 0; }
  button:focus,
  input:focus {
    outline: none; }
  @media (max-width: 767px) {
    button,
    input {
      font-size: 0.5312499998em; } }

input[type="email"] {
  font-size: .75em;
  color: #ffe0e0;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffe0e0;
  line-height: 3em;
  font-weight: normal; }
  input[type="email"]::-webkit-input-placeholder {
    color: #ffe0e0;
    font-weight: normal; }
  input[type="email"]:-ms-input-placeholder {
    color: #ffe0e0;
    font-weight: normal; }
  input[type="email"]::-ms-input-placeholder {
    color: #ffe0e0;
    font-weight: normal; }
  input[type="email"]::placeholder {
    color: #ffe0e0;
    font-weight: normal; }
  @media (max-width: 767px) {
    input[type="email"] {
      font-size: 0.5312499998em; } }

input[type="range"] {
  -webkit-appearance: none;
  background: linear-gradient(to right, #f00 50%, #ffe0e0 50%);
  height: 2px;
  overflow: visible;
  width: 100%; }
  input[type="range"]::-moz-range-track, input[type="range"]::-webkit-slider-runnable-track {
    -moz-appearance: none;
         appearance: none;
    background: transparent; }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ffe0e0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transition: 0.2s -webkit-transform cubic-bezier(0.105, 0.84, 0.025, 1);
    transition: 0.2s transform cubic-bezier(0.105, 0.84, 0.025, 1);
    transition: 0.2s transform cubic-bezier(0.105, 0.84, 0.025, 1), 0.2s -webkit-transform cubic-bezier(0.105, 0.84, 0.025, 1);
    border: none; }
  input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    background: #f00;
    width: 8px;
    height: 8px;
    border-radius: 50%; }
  input[type="range"]:hover::-webkit-slider-thumb, input[type="range"]:active::-webkit-slider-thumb {
    -webkit-transform: scale(2);
            transform: scale(2); }
  @media (max-width: 767px) {
    input[type="range"] {
      width: 100%;
      -webkit-appearance: none; }
      input[type="range"]::-webkit-slider-thumb {
        height: 18px;
        width: 18px; }
        input[type="range"]::-webkit-slider-thumb:hover, input[type="range"]::-webkit-slider-thumb:active, input[type="range"]::-webkit-slider-thumb:focus {
          -webkit-transform: scale(2.5);
                  transform: scale(2.5); } }

fieldset {
  border: none;
  outline: none;
  margin: 0;
  padding: 10px 0;
  pointer-events: all;
  display: block; }
  fieldset label {
    color: #ffe0e0;
    display: block;
    font-size: 0.65em; }
  @media (max-width: 767px) {
    fieldset.noMobile {
      display: none; } }

#mobile-toggle {
  padding: 0;
  display: none;
  width: 30px;
  height: 23px;
  border: 0;
  outline: none;
  top: 20px;
  position: absolute;
  background: none;
  right: 20px;
  z-index: 52;
  box-shadow: none;
  overflow: hidden; }
  @media (max-width: 767px) {
    #mobile-toggle {
      display: block; } }
  #mobile-toggle:active {
    outline: none;
    box-shadow: none; }
    #mobile-toggle:active svg g {
      stroke: #ffe0e0; }
  #mobile-toggle .icons {
    display: block;
    width: 70px;
    transition: 0.3s -webkit-transform cubic-bezier(0.105, 0.84, 0.025, 1);
    transition: 0.3s transform cubic-bezier(0.105, 0.84, 0.025, 1);
    transition: 0.3s transform cubic-bezier(0.105, 0.84, 0.025, 1), 0.3s -webkit-transform cubic-bezier(0.105, 0.84, 0.025, 1); }
  #mobile-toggle.open .icons {
    -webkit-transform: translateX(-35px);
            transform: translateX(-35px); }

#arrow {
  -webkit-animation-name: arrow;
          animation-name: arrow;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate; }
  #arrow path,
  #arrow rect {
    mix-blend-mode: difference;
    background-blend-mode: difference; }

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  z-index: 120;
  font-size: .75em;
  margin-bottom: 60px; }

.custom-select select {
  display: none;
  /*hide original SELECT element:*/ }

.select-selected {
  background-color: transparent; }

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 12px;
  right: 14px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 6px 6px 6px;
  border-color: #ffe0e0 transparent transparent transparent; }
  @media (max-width: 767px) {
    .select-selected:after {
      top: 9px;
      right: 9px;
      border-width: 10px 4px 4px 4px; } }

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #ffe0e0 transparent;
  border-bottom-width: 16px;
  border-top-width: 6px;
  top: 7px; }
  @media (max-width: 767px) {
    .select-selected.select-arrow-active:after {
      border-bottom-width: 10px;
      border-top-width: 4px;
      top: 4px; } }

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffe0e0;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: #ffe0e0;
  cursor: pointer;
  background: #000;
  margin-top: -1px; }
  @media (max-width: 767px) {
    .select-items div,
    .select-selected {
      padding: 4px 8px;
      font-size: 0.8em; } }

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: transparent;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99; }

/*hide the items when the select box is closed:*/
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  color: #f00;
  border-color: #f00;
  z-index: 20000;
  position: relative; }

header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%; }
  header nav {
    width: 100%; }
    header nav ul {
      display: flex;
      justify-content: space-between;
      padding: 46px 58px;
      width: 100%;
      margin: 0; }
    header nav li {
      list-style: none;
      color: #ffe0e0; }
      header nav li:nth-of-type(2) {
        margin-right: 15%; }
      header nav li:nth-of-type(3) {
        margin-left: 15%; }
      header nav li a {
        font-weight: bold;
        -webkit-transform: translateX(-20px);
                transform: translateX(-20px);
        display: block;
        opacity: 0;
        padding: .5em 0;
        font-size: .6em;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        line-height: 1.4em; }
        header nav li a.active {
          color: #f00; }
        header nav li a:before {
          content: '';
          display: block;
          height: 1px;
          background: #f00;
          -webkit-transform: translateX(-100%);
                  transform: translateX(-100%);
          position: absolute;
          bottom: 1px;
          left: 0;
          width: 100%;
          transition: 0.2s -webkit-transform cubic-bezier(0.105, 0.84, 0.025, 1);
          transition: 0.2s transform cubic-bezier(0.105, 0.84, 0.025, 1);
          transition: 0.2s transform cubic-bezier(0.105, 0.84, 0.025, 1), 0.2s -webkit-transform cubic-bezier(0.105, 0.84, 0.025, 1); }
        header nav li a.active {
          text-decoration: none;
          color: #f00; }
          header nav li a.active:before {
            -webkit-transform: translateX(0);
                    transform: translateX(0); }
  @media (max-width: 767px) {
    header {
      height: 60px;
      background: url("/assets/imgs/header-bg.png") no-repeat center 0;
      background-size: contain; }
      header nav ul {
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        height: 100%;
        font-size: 1.5em;
        background: #151136;
        z-index: 51;
        position: relative;
        -webkit-transform: translateY(-100vh);
                transform: translateY(-100vh);
        transition: 0.2s -webkit-transform cubic-bezier(0.105, 0.84, 0.025, 1);
        transition: 0.2s transform cubic-bezier(0.105, 0.84, 0.025, 1);
        transition: 0.2s transform cubic-bezier(0.105, 0.84, 0.025, 1), 0.2s -webkit-transform cubic-bezier(0.105, 0.84, 0.025, 1);
        padding: 160px 20px;
        justify-content: space-around; }
        header nav ul li {
          margin: 10px 0; }
          header nav ul li:nth-of-type(2) {
            margin-right: 0; }
          header nav ul li:nth-of-type(3) {
            margin-left: 0; }
          header nav ul li a {
            -webkit-transform: none !important;
                    transform: none !important;
            padding: 0.1em 0; }
      header nav.open {
        height: 100vh !important; }
        header nav.open ul {
          -webkit-transform: translateY(0);
                  transform: translateY(0); }
          header nav.open ul li a {
            opacity: 1 !important;
            -webkit-transform: none !important;
                    transform: none !important; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    header nav ul {
      padding: 46px 20px; }
      header nav ul li a {
        font-size: 0.5em; }
      header nav ul li:nth-child(2) {
        margin-right: 25%; } }

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box; }

.noUi-target {
  position: relative;
  direction: ltr; }

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; }
  .noUi-base:focus,
  .noUi-connects:focus {
    outline: none; }

/* Wrapper for all connect elements.
 */
.noUi-connects {
  overflow: hidden;
  z-index: 0; }

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0; }

/* Offset direction
 */
html:not([dir="rtl"]) .noUi-horizontal .noUi-origin {
  left: auto;
  right: 0; }

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
  width: 0; }

.noUi-horizontal .noUi-origin {
  height: 0; }

.noUi-handle {
  position: absolute;
  outline: none; }

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }

.noUi-state-drag * {
  cursor: inherit !important; }

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 50px;
  padding: 24px 0;
  background-clip: content-box; }
  .noUi-horizontal:hover .noUi-handle {
    -webkit-transform: scale(2);
            transform: scale(2); }

.noUi-horizontal .noUi-handle {
  width: 50px;
  height: 50px;
  left: -26px;
  top: -24px;
  padding: 20px;
  background-clip: content-box; }

.noUi-vertical {
  width: 20%;
  padding: 0px calc(10% - 1px); }

.noUi-vertical .noUi-handle {
  width: 56px;
  height: 56px;
  left: -27px;
  top: -27px;
  padding: 20px;
  background-clip: content-box; }

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -27px;
  left: auto; }

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
  background: #ffe0e0;
  background-clip: content-box; }

.noUi-connects {
  border-radius: 3px; }

.noUi-connect {
  background: #f00; }

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize; }

.noUi-vertical .noUi-draggable {
  cursor: ns-resize; }

.noUi-handle {
  border-radius: 28px;
  background: #ffe0e0;
  cursor: default;
  transition: 0.2s all cubic-bezier(0.105, 0.84, 0.025, 1); }

.noUi-active {
  -webkit-transform: scale(2);
          transform: scale(2);
  background: #f00;
  -webkit-focus-ring: none; }

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px; }

.noUi-vertical .noUi-handle:after {
  top: 17px; }

/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #B8B8B8; }

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed; }

/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  box-sizing: border-box; }

.noUi-pips {
  position: absolute;
  color: #999; }

/* Values;
 *
 */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center; }

.noUi-value-sub {
  color: #ccc;
  font-size: 10px; }

/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC; }

.noUi-marker-sub {
  background: #AAA; }

.noUi-marker-large {
  background: #AAA; }

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%; }

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%); }

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%); }

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px; }

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px; }

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px; }

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%; }

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%, 0);
  padding-left: 25px; }

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%); }

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px; }

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px; }

.noUi-marker-vertical.noUi-marker-large {
  width: 15px; }

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #ffe0e0;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap; }

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%; }

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%; }


/*# sourceMappingURL=main.css.map*/