@import 'variables';
@import 'mixins';
@keyframes arrow {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0);
    }
}

a {
    text-decoration: none;
    color: $white;
    transition: all .2s ease;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: inline-block;
    &:before {
        content: '';
        display: block;
        height: 1px;
        background: $red;
        transform: translateX(-100%);
        position: absolute;
        bottom: 1px;
        left: 0;
        width: 100%;
        transition: 0.2s transform ease-in-out;
    }
    &:not(.btn):hover {
        text-decoration: none;
        color: $red;
        &:before {
            transform: translateX(0)
        }
    }
}

.btn {
    font-weight: bold;
    display: inline-block;
    padding: 1.1em 1.75em;
    font-size: 0.7083333333em;
    border: 1px solid $white;
    text-transform: uppercase;
    background: transparent;
    color: $white;
    letter-spacing: 0.05em;
    &:hover {
        cursor: pointer;
        color: $red;
        border-color: $red
    }
    @include media(767px) {
        font-size: 0.5312499998em;
    }
}

button,
input {
    font-family: 'Ave';
    line-height: 1;
    font-weight: bold;
    transition: all .2s ease;
    border-radius: 0;
    &:focus {
        outline: none; //box-shadow: inset 0 -1px 0 0 $white, 0 1px 0 0 $white
    }
    @include media(767px) {
        font-size: 0.5312499998em;
    }
}

input[type="email"] {
    font-size: .75em;
    color: $white;
    background: transparent;
    border: none;
    border-bottom: 1px solid $white;
    line-height: 3em;
    font-weight: normal;
    &::placeholder {
        color: $white;
        font-weight: normal
    }
    @include media(767px) {
        font-size: 0.5312499998em;
    }
}

input[type="range"] {
    -webkit-appearance: none;
    background: linear-gradient(to right, $red 50%, $white 50%);
    height: 2px;
    overflow: visible;
    width: 100%;
    &::-moz-range-track,
    &::-webkit-slider-runnable-track {
        appearance: none;
        background: transparent
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: $white;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        transition: 0.2s transform $transition;
        border: none;
    }
    &::-moz-range-thumb {
        -moz-appearance: none;
        background: $red;
        width: 8px;
        height: 8px;
        border-radius: 50%
    }
    &:hover,
    &:active {
        &::-webkit-slider-thumb {
            transform: scale(2);
        }
    }
    @include media(767px) {
        width: 100%;
        -webkit-appearance: none;
        &::-webkit-slider-thumb {
            height: 18px;
            width: 18px;
            &:hover,
            &:active,
            &:focus {
                transform: scale(2.5);
            }
        }
    }
}

fieldset {
    border: none;
    outline: none;
    margin: 0;
    padding: $gutter-mobile/2 0;
    pointer-events: all;
    display: block;
    label {
        color: $white;
        display: block;
        font-size: 0.65em;
    }
    &.noMobile {
        @include media(767px) {
            display: none
        }
    }
}

#mobile-toggle {
    padding: 0;
    display: none;
    width: 30px;
    height: 23px;
    border: 0;
    outline: none;
    top: $gutter-mobile;
    position: absolute;
    background: none;
    right: $gutter-mobile;
    z-index: 52;
    box-shadow: none;
    overflow: hidden;
    @include media(767px) {
        display: block;
    }
    &:active {
        outline: none;
        box-shadow: none;
        svg g {
            stroke: $white
        }
    }
    .icons {
        display: block;
        width: 70px;
        transition: 0.3s transform $transition;
    }
    &.open {
        .icons {
            transform: translateX( -35px);
        }
    }
}

#arrow {
    //filter: invert(1);
    // mix-blend-mode: difference;
    animation-name: arrow;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    path,
    rect {
        //box-shadow: 2px 4px 4px rgba(0,0,0,100);
        mix-blend-mode: difference;
        background-blend-mode: difference;
    }
}

/*the container must be positioned relative:*/

.custom-select {
    position: relative;
    z-index: 120;
    font-size: .75em;
    margin-bottom: 60px;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color: transparent;
}

/*style the arrow inside the select element:*/

.select-selected:after {
    position: absolute;
    content: "";
    top: 12px;
    right: 14px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 6px 6px 6px;
    border-color: $white transparent transparent transparent;
    @include media(767px) {
        top: 9px;
        right: 9px;
        border-width: 10px 4px 4px 4px;
    }
}

/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
    border-color: transparent transparent $white transparent;
    border-bottom-width: 16px;
    border-top-width: 6px;
    top: 7px;
    @include media(767px) {
        border-bottom-width: 10px;
        border-top-width: 4px;
        top: 4px;
    }
}

/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
    color: $white;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: $white;
    cursor: pointer;
    background: #000;
    margin-top: -1px;
    @include media(767px) {
        padding: 4px 8px;
        font-size: 0.8em;
    } //font-weight: bold
}

/*style items (options):*/

.select-items {
    position: absolute;
    background-color: transparent;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    color: $red;
    border-color: $red;
    z-index: 20000;
    position: relative;
}