@font-face {
    font-family: 'Ave';
    src: url('/assets/fonts/AvenirLTStd-Roman.eot');
    src: local('☺'), url('/assets/fonts/AvenirLTStd-Roman.woff') format('woff'), url('/assets/fonts/AvenirLTStd-Roman.ttf') format('truetype'), url('/assets/fonts/AvenirLTStd-Roman.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ave';
    src: url('/assets/fonts/AvenirLTStd-Black.eot');
    src: local('☺'), url('/assets/fonts/AvenirLTStd-Black.woff') format('woff'), url('/assets/fonts/AvenirLTStd-Black.ttf') format('truetype'), url('/assets/fonts/AvenirLTStd-Black.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}