@import 'variables';
@import 'mixins';
header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    nav {
        // position: fixed;
        //right: $gutter;
        width: 100%;
        ul {
            display: flex;
            justify-content: space-between;
            padding: 46px $gutter;
            width: 100%;
            margin: 0;
        }
        li {
            list-style: none;
            color: $white;
            &:nth-of-type(2) {
                margin-right: 15%;
            }
            &:nth-of-type(3) {
                margin-left: 15%
            }
            a {
                font-weight: bold;
                transform: translateX(-20px);
                display: block;
                opacity: 0;
                padding: .5em 0;
                font-size: .6em;
                position: relative;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                line-height: 1.4em;
                &.active {
                    color: $red;
                }
                &:before {
                    content: '';
                    display: block;
                    height: 1px;
                    background: $red;
                    transform: translateX(-100%);
                    position: absolute;
                    bottom: 1px;
                    left: 0;
                    width: 100%;
                    transition: 0.2s transform $transition;
                }
                &.active {
                    text-decoration: none;
                    color: $red;
                    &:before {
                        transform: translateX(0)
                    }
                }
            }
        }
    }
    @include media(767px) {
        height: 60px;
        background: url('/assets/imgs/header-bg.png') no-repeat center 0;
        background-size: contain;
        nav {
            // height: 1px;
            ul {
                justify-content: flex-start;
                flex-direction: column;
                align-items: center;
                height: 100%;
                font-size: 1.5em;
                background: #151136;
                z-index: 51;
                position: relative;
                transform: translateY(-100vh);
                transition: 0.2s transform cubic-bezier(0.105, 0.84, 0.025, 1);
                padding: 160px #{$gutter-mobile};
                justify-content: space-around;
                li {
                    margin: #{$gutter-mobile/2} 0;
                    &:nth-of-type(2) {
                        margin-right: 0
                    }
                    &:nth-of-type(3) {
                        margin-left: 0
                    }
                    a {
                        transform: none !important;
                        padding: 0.1em 0
                    }
                }
            }
            &.open {
                height: 100vh !important;
                ul {
                    transform: translateY(0);
                    li a {
                        opacity: 1 !important;
                        transform: none !important;
                    }
                }
            }
        }
    }
    @media(min-width: 768px) and (max-width: 1024px) {
        nav ul {
            padding: 46px $gutter-mobile;
            li {
               
                a {
                    font-size: 0.5em
                }
                &:nth-child(2) {
                    margin-right: 25%;
                }
            }
        }
    }
    
}