@import 'mixins';
@import 'variables';
@keyframes loading {
    from {
        opacity: 0.3
    }
    to {
        opacity: 1.0
    }
}

* {
    box-sizing: border-box;
    letter-spacing: 0.005em
}

body {
    background: #000;
    font-size: 1.5em;
    font-family: 'Ave', 'Helvetica', Arial, sans-serif;
    margin: 0
}

canvas {
    display: block;
    pointer-events: all;
    width: 100%;
    height: 100%;
    transition: 0.01s height linear 0.05s;
}

section {
    width: 100vw;
    height: 100vh;
    z-index: 5;
    position: relative;
    color: $white;
    display: flex;
    justify-content: center;
    .container {
        position: relative;
        @include container-text;
        z-index: 6;
        p,
        a:not(.btn) {
            font-size: 0.75em;
            line-height: 1.42em;
            padding: .35em 0;
        }
    }
    .center {
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include media(767px) {
            display: block
        }
    }
    .col {
        $finalWidth: ($large-width / 10) * 3;
        @include width($finalWidth); // opacity: 0;
        p,
        h3 {
            pointer-events: none;
            user-select: none
        }
        p {
            margin-bottom: 1.3333em;
            &.mobile {
                display: none
            }
            @include media(767px) {
                &.desktop {
                    display: none
                }
                &.mobile {
                    display: block;
                }
            }
        }
        #mc_embed_signup_scroll {
            display: flex;
            align-items: flex-end;
            input[type="email"] {
                width: 100%;
            }
        }
        .mc-field-group {
            width: calc(50% - #{$gutter-mobile/2});
            margin-right: $gutter-mobile;
            +.clear {
                width: calc(50% - #{$gutter-mobile/2})
            }
        }
        &.sliders {
            padding: 0 $gutter-mobile;
            display: flex;
            flex-direction: column;
            .group {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: column
            }
            .controls {
                display: none
            }
            a.btn {
                margin: $gutter-mobile 0 0;
                align-self: flex-start
            }
        }
        &.mobile-sliders {
            display: none;
        }
    }
    @include media(767px) {
        height: auto;
        min-height: 100vh;
        .container {
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-bottom: 33vh;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        .col,
        .mobile-col {
            flex: 0 0 100%;
            text-align: left;
            opacity: 1;
            transform: none;
            &:nth-child(2) {
                text-align: left
            }
            &.sliders {
                display: none
            }
            &.mobile-sliders {
                text-align: center;
                display: block;
                position: fixed;
                z-index: 25000;
                bottom: $gutter-mobile / 2;
                left: 0;
                width: 100%;
                opacity: 0;
                .group {
                    width: calc(100% + #{$gutter-mobile * 2});
                    margin-left: -$gutter-mobile;
                    height: 100px;
                    display: flex;
                    justify-content: space-between
                }
                .buy-btn {
                    margin-top: $gutter-mobile
                }
            }
        }
    }
}

footer,
    {
    position: fixed;
    bottom: 0;
    padding: $gutter;
    width: 100%;
    z-index: 20;
    li {
        position: absolute;
        right: $gutter;
        bottom: $gutter;
        display: block;
        &:first-child {
            left: $gutter
        }
    }
    svg {
        display: block;
        position: absolute;
        background-size: cover;
        width: 50px;
        height: 40px;
        position: absolute;
        left: 50%;
        bottom: 30px;
        margin-left: -25px;
    }
    @include media(1024px) {
        svg {
            bottom: -10px
        }
    }
    @include media(767px) {
        padding: $gutter-mobile;
        bottom: #{$gutter-mobile * 2};
        nav {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        li {
            position: relative;
            left: 0;
            bottom: 0;
            &:first-child {
                left: 0;
                margin-bottom: $gutter-mobile
            }
            &:nth-child(2) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                >* {
                    width: calc(50% - #{$gutter-mobile / 2});
                }
                input[type="email"] {
                    margin-right: $gutter-mobile
                }
            }
        }
        svg {
            bottom: -52px;
        }
    }
}

.loader-overlay {
    background: #000;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0;
    z-index: 20;
    transition: 1s opacity $transition;
}

.loading {
    .loader-overlay {
        opacity: 1;
    }
    h1 {
        animation-name: loading;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-play-state: running;
        animation-fill-mode: none;
    }
}

section .container.shop {
    top: 0;
    position: absolute;
    left: auto;
    right: auto;
    margin-right: auto;
    margin-left: auto;
    transform: translateX(100vw);
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    display: none;
    .preview {
        position: relative;
        img {
            width: 100%;
            height: auto
        }
    }
    .heart-preview {
        position: absolute;
        top: 0;
        margin: 0;
        padding: 0;
        width: 40%;
        left: 50%;
        transform: translateX(-50%);
        top: 50px;
    }
    &.visible {
        transition: 0.5s transform $transition 0.1s;
        visibility: visible;
        display: flex;
    }
    @include media(767px) {
        display: none
    }
}

section#visit {
    .col:nth-of-type(2) {
        h3 {
            margin-bottom: 0
        }
        p {
            margin-top: 0.3333em
        }
    }
}

section#merchandise {
    overflow-y: hidden;
    @include media(1024px) {
        touch-action: pan-y;
    }
    >.container:first-of-type,
    >.container:nth-of-type(2) {
        transition: 0.5s transform $transition;
        transform: translateX(0%);
    }
    &.buying {
        >.mobile-sliders,
        >.container:nth-of-type(2) {
            transform: translateX(-100vw);
        }
        .container.shop.visible {
            transform: translateX(0);
        }
    }
    .heart-preview img {
        visibility: hidden
    }
    @include media(767px) {
        flex-direction: column;
        justify-content: flex-start;
        .col:nth-child(2) {
            margin-bottom: 200vh
        }
        .container {
            margin-bottom: 0;
        }
        .block {
            flex: 0 0 calc(50% - #{$gutter-mobile /2});
            margin-left: $gutter-mobile;
            &:first-of-type {
                margin-left: 0
            }
            .custom-select {
                margin-bottom: 0
            }
            h3 {
                font-size: 0.5em;
            }
        }
        .step_1 {
            display: flex;
            flex-wrap: wrap;
            order: 1;
            flex-direction: row;
            >a,
            >h3 {
                flex: 0 0 100%;
                text-align: left;
            }
            >h3 {
                font-size: 0.5em;
                margin: 20px 0;
                &:first-of-type {
                    margin: 0.25em 0;
                    font-size: 0.75em
                }
            }
        }
        .preview.col {
            order: 0;
            transform: scale(0.7);
            margin-bottom: 0;
            top: -80px;
            height: 0;
        }
    }
}

#story {
    margin-top: 100vh;
    @include media(767px) {
        margin-top: 160vh
    } // .col:first-of-type {
    //     p {
    //         font-size: 0.9em;
    //         font-style: italic;
    //     }
    //     @include media( 767px) {
    //         font-size: 0.85em;
    //     }
    // }
}

#contact {
    height: 100vh;
    z-index: 21;
    .block:not(:first-of-type) {
        margin-top: $gutter;
    }
    a {
        pointer-events: all;
        user-select: text;
    }
}

small,
.footnote {
    position: absolute;
    @include container;
    bottom: $gutter-mobile;
    font-size: 0.65em;
    justify-content: space-between;
    z-index: 21;
    left: 50%;
    transform: translateX(-50%);
    a {
        font-size: 1em !important
    }
}

small {
    @include media(767px) {
        font-size: 0.5em;
    }
}

#heart {
    position: fixed;
    top: 0;
    height: 100%;
}

.dg.ac {
    z-index: 10 !important;
}

#colorBar {
    width: 1px;
    height: 809px;
    position: fixed;
    z-index: -1;
    top: 0;
    left: -1px
}

form {
    #mc_embed_signup_scroll {
        .clear,
        .mc-field-group {
            display: inline-block;
        }
        #mce-responses {
            position: absolute
        }
    }
    @include media(767px) {
        width: 100% !important;
        #mc_embed_signup_scroll {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .clear,
            .mc-field-group {
                flex: 0 0 calc(50% - #{$gutter-mobile / 2 });
                input,
                .btn {
                    width: 100%;
                }
            }
            #mce-responses {
                position: absolute;
            }
        }
    }
}

form.desktop {
    @media(max-width: 767px) {
        display: none;
    }
}

.mobile-col {
    display: none;
    @media(max-width: 767px) {
        display: block;
        align-self: normal;
        padding: 0 $gutter-mobile/2;
    }
}

@keyframes loader_1 {
    0% {
        opacity: 0;
        transform: translate(-50%, 40px)
    }
    50% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -40px);
    }
}

@keyframes loader_2 {
    0% {
        opacity: 0;
        transform: translate(-50%, 40px)
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes main_load {
    0% {
        background-color: rgba(0, 0, 0, 1);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.55)
    }
}

@keyframes ellipsis {
    0% {
        content: ''
    }
    33% {
        content: '.'
    }
    66% {
        content: '..'
    }
    100% {
        content: '...'
    }
}

.print-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 25000;
    animation: main_load 5s ease-out 1s both;
    color: $white;
    .frame {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 0.85em;
        font-weight: bold;
        white-space: nowrap;
        text-align: center;
        animation: loader_1 6s $transition 1 both; //z-index: 25001;
        &.frame_2 {
            animation: loader_1 18s $transition 5s 1 both;
            &:after {
                content: '.';
                display: inline-block;
                position: absolute;
                animation: 2s ellipsis steps(3) infinite
            }
        }
        &.frame_3 {
            animation: loader_2 2.5s $transition 18s 1 backwards;
            &:after {
                content: '.';
                display: inline-block;
                position: absolute;
                animation: 2s ellipsis steps(3) infinite
            }
        }
        @include media(767px) {
            font-size: 0.75em;
            white-space: normal;
            line-height: 1.4em;
        }
    }
    &.error .frame::first-line {
        color: $red
    }
}

.faq {
    &.close {
        position: fixed;
        right: 60px;
        top: 50px;
        transform: translateY(100vh);
        z-index: 121;
        &:hover svg g {
            stroke: $red
        }
        &.open {
            transform: translateY(0);
        }
    }
    @include media(767px) {
        overflow-y: auto;
        height: 100vh;
        &.close {
            top: $gutter-mobile;
            right: 0;
        }
    }
}

.privacy-policy {
    will-change: auto;
    position: fixed;
    z-index: 120;
    background: #000;
    transform: translateY(110%);
    top: 0;
    left: 0;
    transition: 0.35s transform $transition;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    padding-right: $gutter;
    padding-left: $gutter;
    @include media(767px) {
        padding-right: $gutter-mobile;
        padding-left: $gutter-mobile;
        height: 100vh
    }
    h3 {
        text-align: center;
        font-size: 1.25em;
    }
    h4,
    p {
        font-size: 0.75em
    }
    p {
        margin-bottom: $gutter-mobile * 2.5;
        line-height: 1.35em;
        a {
            display: inline;
            &:before {
                content: none;
            }
        }
    }
    .note {
        margin: #{$gutter-mobile * 4} 0;
        h3 {
            font-size: 0.75em;
        }
    }
    .showclix {
        h3 {
            font-size: 0.75em
        }
    }
    &.open {
        transform: translateY(0)
    }
    .text {
        max-width: 600px;
    }
}

section .col p.times {
    font-size: 0.65em;
}

body {
    #cookie-bar {
        background: #000 !important;
        color: $white !important;
        text-align: center !important;
        padding: 0.66666em;
        p,
        a {
            font-family: 'Ave', sans-serif !important;
            float: none;
            color: $white;
            &:before {
                content: none
            }
        }
        a:hover {
            color: $red
        }
        #cookie-bar-button {
            background: url(/assets/imgs/x-icon.svg);
            display: inline-block;
            width: 16px;
            height: 16px;
            background-size: contain;
            position: absolute;
            right: 10px;
            top: 10px;
            margin: 0;
            text-indent: -1000px;
        }
    }
}