@import 'variables';
@mixin width($width) {
    $total: #{ $width  / $large-width  * 100 };
    padding-right: $gutter-mobile / 2;
    padding-left: $gutter-mobile / 2;
    width: 100%;
    flex: 2 0 50%;
    @media(min-width: 768px) {
        flex: 0.5 0.5 #{$total}#{%};
        max-width: #{$width}#{px};
    }
    @media(min-width: 768px) and (max-width: 1024px) {
        padding-right: $gutter-mobile;
        padding-left: $gutter-mobile;
    }
    @media( min-width: 1025px) {
        padding-right: $gutter / 2;
        padding-left: $gutter / 2;
    }
}

@mixin container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin container-text {
    @include container;
    @include width($large-width);
    @include media($small-width) {
        width: 100%;
    }
}

@mixin media($width) {
    @media(max-width: $width) {
        @content;
    }
}