h1 {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    z-index: 50;
    width: 65%;
    margin: 0;
    text-align: center;
    pointer-events: none;
    animation-play-state: paused;
    a {
        display: block;
        width: 30%;
        height: 100%;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        pointer-events: all;
        &:before {
            content: none
        }
    }
    img {
        max-height: 100%;
        max-width: 100%;
    } //max-width: 706px;
    @include media(767px) {
        width: 80%; //z-index: 111;
    }
    &:hover {
        cursor: pointer;
    }
}

h3 {
    pointer-events: none;
    font-size: 0.8em;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}